@import "src/assets/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid $medium;
  width: 736px;
  height: 450px;

  svg {
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.iconsWrapper {
  display: flex;
  gap: 24px;
  color: $secondary;
}

.iconWrapper {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;

  &:hover svg > path {
    fill: $primary-secondary;
  }
}

.infoWrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.image {
  width: 256px;
  object-fit: cover;
  max-height: 244px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $gray;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.title {
  @include h2();
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  &:hover {
    color: $primary-secondary;
    cursor: pointer;
  }
}

.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mediumInfoWrapper {
  flex-direction: column-reverse;
  gap: 24px;
}

.mediumWrapper {
  max-width: 352px;
}

.mediumTitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  &:hover {
    color: $primary-secondary;
    cursor: pointer;
  }
  @include h3();
}

.mediumImage {
  width: 352px;
  max-height: 246px;
  height: 246px;
}

.smallWrapper {
  height: 206px;
  max-width: 354px;
}

.smallImage {
  height: 96px;
  width: 96px;
}

.smallInfoWrapper {
  gap: 34px;
}

.darkTitle {
  color: $white;
}
.darkIconWrapper {
  color: $white;
  div > svg > path {
    fill: $white;
  }
}
.darkWrapper {
  border-bottom-color: $gray;
}

.searchWrapper {
  width: 100%;
  height: 206px;
  gap: 44px;
}

.searchInfoWrapper {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 32px;
}
