@import "src/assets/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 999;

  > div {
    border-right: 1px solid $primary-secondary;
  }

  > div:last-child {
    border-right: 0;
  }

  .searchInput {
    width: 100%;
    height: 84px;
    margin: 0;
    background-color: $primary-secondary;
    color: $white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      border: 2px solid $medium;
    }

    &:focus {
      border: 2px solid $medium;
    }
  }
}

.menuWrapper {
  position: fixed;
  margin-top: 84px;
  border-top: 1px solid $primary-secondary;
  height: calc(100vh - 85px);
  width: 236px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.navBtn {
  display: flex;
  height: 84px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light;
  text-decoration: none;
  @include s1();

  &:hover {
    color: $primary;
  }
}

.bottomBtn {
  height: 84px;
}

.activeNavBtn {
  color: $primary;
}

.userBtn {
  padding: 0;
  width: 84px;
}

.inputWrapper {
  flex: 1;
  position: relative;
}

.rightControls {
  display: flex;
  height: 100%;
  > div:first-child {
    border-right: 1px solid $primary-secondary;
  }
}

.closeSearchBtn {
  position: absolute;
  right: 32px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-45%);
}
